.contenidoIndex {
    @include flex-contenido-index;
    height: 620px;
    background-color:$color-background-index ;
    margin-top: 0;
    .infoIndex {
      width: 50%;
      article {
        padding-top: 50px;
        margin: 10px;
        font-size: 15px;
        color: $color-letra-index;
      }
    }
    .imagenIndex {
      width: 50%;
      img {
        height: 500px;
        width: 100%;
        object-fit: contain;
      }
    }
  }

  @media(max-width:$computador){
    .contenidoIndex{
      height: 800px;
    }
  }
  @media(max-width:$tablet){
    .contenidoIndex{
      flex-direction: column;
      height: 600px;
      .infoIndex{
        width: 100%;
        article{
          font-size: 12px;
        }
      }
      .imagenIndex {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          object-fit: contain;
          width: 60%;
          height: 60%;
          margin-top: -80px;
        }
      }
    }
  }