.contenedorTrofeos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-background-index;
  height: 520px;
  table {
      border-collapse: collapse;
      width: 50%;
      margin-bottom: 30px;
      margin-left: 50px;
      th,
      td {
        border: 1px solid $color-violeta;
        padding: 8px;
        text-align: center;
      }
    }
    .tituloTrofeos {
      margin-left: 50px;
      color: $color-letra-index;
    }
}
@media(max-width:$tablet){
 .contenedorTrofeos{
  height: 670px;
 }
}
@media(max-width:$movil){
  .contenedorTrofeos{
    height: 750px;
  }
  
}