    $color-violeta: blueviolet;
$color-rosado:rgb(182, 102, 182);
$color-blanco:white;
$color-amarillo:yellow;
$color-background-index:rgb(221, 169, 221);
$color-letra-index:rgb(100, 0, 193);
$color-negro: #000;
$computador:992px;
$tablet:768px;
$movil:420px;

@mixin flex-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-contenido-index{
    display: flex;
    flex-direction: row;
    justify-content: center;
}